.vscode/
*.log

#mod00
megaphone
phonebook
testAccount

#mod01
brainzz
violence
sedIsStreamEditor
*.replace
harling
harlFilter

# mod02
fixedpt
bsp

# mod03
trap

#mod04
animals
materia

#mod05
bureau
*_shrubbery

#mod06
convert
serialization
types

#mod07
templates

#mod08
containers

# Prerequisites
*.d
. << std::endl;
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
